@font-face {
    font-family: AstroSpace;
    src: url('../Assets/fonts/AstroSpace-eZ2Bg.ttf');
}

* {
    box-sizing: border-box;
}

html,
body,
div#__next {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

figure {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
}
