.error {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    background-color: black;
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: 'Syne Mono', monospace;
    font-size: 25px;
    color: blanchedalmond;
    padding: 20px;
}

/* NO SIGNAL STYLING */
/** Main Grid Container **/
.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 2.5fr 0.2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'rOne rOne rOne rOne rOne rOne rOne'
        'rTwo rTwo rTwo rTwo rTwo rTwo rTwo'
        'rThree rThree rThree rThree rThree rThree rThree';
    height: 100%;
    width: 100%;
    position: relative;
}

/** Row One Grid **/
.rOne {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 'wh ye cy gr mag rd bl';
    grid-area: rOne;
}

.wh {
    grid-area: wh;
    background-color: white;
}

.ye {
    grid-area: ye;
    background-color: yellow;
}

.cy {
    grid-area: cy;
    background-color: cyan;
}

.gr {
    grid-area: gr;
    background-color: green;
}

.mag {
    grid-area: mag;
    background-color: magenta;
}

.rd {
    grid-area: rd;
    background-color: red;
}

.bl {
    grid-area: bl;
    background-color: blue;
}

/** Row Two Grid **/
.rTwo {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 'bl2 bk2 mag2 bk3 cy2 bk4 gy';
    grid-area: rTwo;
}

.bl2 {
    grid-area: bl2;
    background-color: blue;
}

.bk2 {
    grid-area: bk2;
    background-color: black;
}

.mag2 {
    grid-area: mag2;
    background-color: magenta;
}

.bk3 {
    grid-area: bk3;
    background-color: black;
}

.cy2 {
    grid-area: cy2;
    background-color: cyan;
}

.bk4 {
    grid-area: bk4;
    background-color: black;
}

.gy {
    grid-area: gy;
    background-color: grey;
}

/** Row Three Grid **/
.rThree {
    display: grid;
    grid-template-columns: repeat(3, 1.3fr) 3.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 'bl3 wh3 bl3-3 bk-3';
    grid-area: rThree;
}

.bl3 {
    grid-area: bl3;
    background-color: blue;
}

.wh3 {
    grid-area: wh3;
    background-color: white;
}

.bl33 {
    grid-area: bl3-3;
    background-color: blue;
}

.bk33 {
    grid-area: bk-3;
    background-color: black;
}
